.contato__imagem{
    background-color: var(--corDetalhesBotoes);
    border-radius: 20px;
    padding: 1.5rem;
    
}

.contato__imagem:hover{
    background-color: var(--corBotaoHover);
    transition-duration: 0.5s;
}

@media screen and (min-width: 0){
    .contato__imagem{
        width: 10%;
        margin: 0.5rem;
    }
}

@media screen and (min-width: 1000px){
    .contato__imagem{
        width: 5%;
        margin: 2rem;
    }
}
