.contato__imagem{
    background-color: #5c2e30;
    border-radius: 20px;
    padding: 1.5rem;
    
}

@media screen and (min-width: 0){
    .contato__imagem{
        width: 10%;
        margin: 0.5rem;
    }
}

@media screen and (min-width: 1000px){
    .contato__imagem{
        width: 5%;
        margin: 2rem;
    }
}
