.projeto{
    background-color: var(--corBg1);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 25%;
    border-radius: 10px;
    padding: 2rem 0 2rem 0;
    align-items: center;
}

@media screen and (min-width: 0){
    .projeto{
        width: 70%;
    }
}

@media screen and (min-width: 1000px){
    .projeto{
        width: 25%;
    }
}