.projeto__placeholderCirculoExterno{
    background-color: var(--corPlaceholderCirculoExterno);
    width: 12rem;
    height: 12rem;
    border-radius: 100%;    
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projeto__placeholderCirculoInterno{
    text-align: center;
    background-color: var(--corPlaceholderCirculoInterno);
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.projeto_placeholderTexto{
    color: var(--corPlaceholderTexto);
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 4px;
    font-family: "PT Serif";
    margin: 0;
}

@media screen and (min-width: 0){
    .projeto__placeholderCirculoExterno{
        width: 10rem;
        height: 10rem;
    }
    
    .projeto__placeholderCirculoInterno{
        width: 8.5rem;
        height: 8.5rem;  
    }
    
    .projeto_placeholderTexto{
        font-size: 4rem;
    }
}

@media screen and (min-width: 700px){
    .projeto__placeholderCirculoExterno{
        width: 12rem;
        height: 12rem;
    }
    
    .projeto__placeholderCirculoInterno{
        width: 10.5rem;
        height: 10.5rem;  
    }
    
    .projeto_placeholderTexto{
        font-size: 5rem;
    }
}