.projeto{
    background-color: #272727;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 25%;
    border-radius: 10px;
    padding: 2rem 1rem 2rem 1rem;
    align-items: center;
}

@media screen and (min-width: 0){
    .projeto{
        /* padding: 5rem 5rem 5rem 5rem; */
        width: 80%;
    }
}

@media screen and (min-width: 1000px){
    .projeto{
        width: 25%;
    }
}