.cabecalho{
    align-items: center;
    background-color: #242424;
    display: flex;
    height: 5rem;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 90000;
    /* background: rgb(13,13,13);
    background: linear-gradient(180deg, rgba(13,13,13,1) 7%, rgba(26,26,26,1) 64%); */
}