.menu__link{
    color: var(--corTextos);
    text-decoration: none;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 1px  var(--corTextos);
    font-size: 1.123rem;
    position: relative;
}

.menu__link:after{
    position: absolute;
    left: 50%;
    content: '';
    height: 2px;
    background: var(--corDetalhesBotoes);
    transition: all 0.2s linear;
    width: 0;
    bottom: -5px;
}

.menu__link:hover:after {
    position: absolute;
    width: 100%;
    margin-left: -50%;
}
@media screen and (min-width: 0){
    .menu__link{
        font-size: 12px;
    }
}


@media screen and (min-width: 700px){
    .menu__link{
        font-size: 1.123rem
    }
    
}