.cabecalho{
    align-items: center;
    background-color: var(--corCabecalhoRodape);
    display: flex;
    height: 60px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 90000;
}
