html{
    --corCabecalhoRodape: #1A1A1A;
    --corTextos: #C8B7B7;
    --corDetalhesBotoes: #5c2e30;
    --corBotaoHover: #4a2526;
    --corScrollTrack:#31312B;
    --corBg1: #272727;
    --corBg2: #333;
}