.projetos{
    background-color: var(--corBg2);
    padding: 5rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

@media screen and (min-width: 0){
    .projetos{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1000px){
    .projetos{
        flex-direction: row;
        justify-content: space-around;
    }
}
