.rodape{
    background-color: var(--corCabecalhoRodape);
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 0){
    .rodape{
        text-align: center;
    }
}


@media screen and (min-width: 700px){
    .rodape{
        text-align: right;
        margin-right: 1rem;
    }
    
}