@import "./coresTemaPadrao.css";

.scrollCustom::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--corScrollTrack);
}
.scrollCustom::-webkit-scrollbar{
	/* width: 10px; */
	background-color: var(--corScrollTrack);
}

.scrollCustom::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--corDetalhesBotoes);
}