.sobre{
    background-color: var(--corBg1);
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    /* height: 50%; */
}

@media screen and (min-width: 0){
    .sobre{
        flex-direction: column;
        align-items: center;
        padding: 125px 0 2rem 0;
    }
}

@media screen and (min-width: 900px){
    .sobre{
        flex-direction: row;
        align-items: center;
        padding-top: 125px;
        padding-bottom: 2rem;
    }
}

