@import "./normalize.css";
@import "./reset.css";

@import "./cabecalho/cabecalho.css";
@import "./cabecalho/menu/menu-lista.css";
@import "./cabecalho/menu/menu-item.css";
@import "./cabecalho/menu/menu-link.css";

@import "./sobre.css";
@import "./sobreMim/sobreMim.css";
@import "./sobreMim/sobreMim-imagem.css";
@import "./sobreMim/sobreMim-nome.css";
@import "./sobreMim/sobreMim-tracoHorizontal.css";
@import "./sobreMim/sobreMim-subtitulo.css";

body{
    font-family: Montserrat, sans-serif;
    background-color: #1A1A1A;
}