.sobreMim{
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* padding-left: 40%;
    padding-right: 40%; */
    width: 80%;
    text-align: center;
    background-color: #272727;
    box-shadow: 0 0 5px #272727;
    border-radius: 10px;
}