.sobre__imagem--circulo{
    background-color: #393E46;
    border-radius: 100%;
    height: 290px;
    width: 290px;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: #D65A31;
    /* margin: 0 auto; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
}