.sobre__imagem{
    border-radius: 100%;
    border-style: solid;
    border-color: var(--corDetalhesBotoes);
    box-shadow: 0 0 5px var(--corDetalhesBotoes);
    height: 250px;
    width: 250px;
    position: relative;
    margin-bottom: 15px;
}


@media screen and (min-width: 0){
    .sobre__imagem{
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-width: 900px){
    .sobre__imagem{
        height: 300px;
        width: 300px;
    }
}