.sobre__nome{
    color: var(--corTextos);
    /* padding-top: 2rem; */
    /* display: flex;*/
    position: relative;
    text-shadow: 0 0 3px  var(--corTextos);
    font-weight: 600;
    font-size: 3rem;

}

@media screen and (min-width: 0){
    .sobre__nome{
        font-size: 2rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 900px){
    .sobre__nome{
        padding-top: 0;
        font-size: 3rem
    }
}