.sobre__descricao{
    padding-top: 20px;
    color: var(--corTextos);
    /* text-shadow: 0 0 2px var(--corTextos); */
}

@media screen and (min-width: 0){
    .sobre__descricao{
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px){
    .sobre__descricao{
        font-size: 1.25rem;
    }
}