.sobre__blocoTextos{
    text-align: center;
    align-items: baseline;
    display: block;
}

@media screen and (min-width: 0){
    .sobre__blocoTextos{
        width: 80%;
    }
}

@media screen and (min-width: 900px){
    .sobre__blocoTextos{
        width: 60%;
        /* margin-left: 2rem; */
    }
}
