.sobre__descricao{
    padding-top: 20px;
    color:#C8B7B7;
    text-shadow: 0 0 2px #C8B7B7;
}

@media screen and (min-width: 0){
    .sobre__descricao{
        font-size: 1rem;
    }
}

@media screen and (min-width: 900px){
    .sobre__descricao{
        font-size: 1.25rem;
    }
}